<div class="container-fluid text-center position-fixed"
    style="width: 30%; height: 100%; top:0; right: 0; background-color:rgba(43, 102, 136, 0.308);">

    <div class="psition-fuxed" style="top: 2%; right: 27%;">
        <button type="button" class="btn-close" aria-label="Close" (click)="closeCart()"></button>
    </div>
    <h1 style="color: white;">Carrito Compras</h1>
    <div class="vstack gap-3">
        @for(course of getCourses(); track $index){
            <div class="hstack gap-3 rounded justify-content-between ps-3" 
                style="background-color: rgba(9, 247, 235, 0.6); height: 80px;" >
                <img 
                    [src]="course.image" 
                    [alt]="course.title" 
                    class="img-fluid rounded"
                    style="width: 50px; height: 80px; object-fit: cover;"
                />
                <h6  
                    style="width: 40%;
                        max-height: 60px; 
                        color: white; 
                        text-overflow: ellipsis; 
                        overflow: hidden;"
                    >{{course.title}}
                </h6>
                <h5 style="color: white;">$ {{course.price.toFixed(2)}}</h5>
                <a class="bi bi-trash" style="color: white; cursor: pointer;" (click)="removeCourse(course)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                    </svg>
                </a>
            </div>
        }
        <div class="hstack gap-3" style="background-color: rgba(29, 247, 9, 0.6); height: 80px;">
            <h4 style="color: white;">Total: $ {{getTotal().toFixed(2)}} </h4>
            <button type="button" class="btn btn-primary"> Comprar </button>
        </div>
    </div>
</div>
